
<header>

    <nav>

      <div class="logo-holder">
        <a href="">
          <img src="" alt="">
        </a>
      </div>

      <div class="nav-bar-buttons">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>PowerUp</li>
        </ul>
      </div>

    </nav>

    <div class="search-bar">
      <form action="">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="search" value="">
        <button>Bargain me up</button>
      </form>
    </div>

</header>

<section class="product-offers">

  <div class="container">

    <div class="benefits">

      <div class="benefit" id="benefit1">
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="benefit" id="benefit2">
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="benefit" id="benefit3">
        <p>Lorem ipsum dolor sit amet</p>
      </div>

    </div>


  </div>

</section>

<section class="bargain-section">

  <div class="container">

    <div class="bargains">

      <div class="bargain" id="bargain1">
        <div class="bargain-image_holder">
          <img src="" alt="">
        </div>
        <div class="bargin_content">
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi quasi nesciunt, enim aliquam cupiditate explicabo. Eveniet excepturi, adipisci rerum debitis quis veniam unde possimus ipsam nisi cumque assumenda fugiat!</p>
        </div>
      </div>

      <div class="bargain" id="bargain2">
        <div class="bargain-image_holder">
          <img src="" alt="">
        </div>
        <div class="bargin_content">
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi quasi nesciunt, enim aliquam cupiditate explicabo. Eveniet excepturi, adipisci rerum debitis quis veniam unde possimus ipsam nisi cumque assumenda fugiat!</p>
        </div>
      </div>

      <div class="bargain" id="bargain3">
        <div class="bargain-image_holder">
          <img src="" alt="">
        </div>
        <div class="bargin_content">
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi quasi nesciunt, enim aliquam cupiditate explicabo. Eveniet excepturi, adipisci rerum debitis quis veniam unde possimus ipsam nisi cumque assumenda fugiat!</p>
        </div>
      </div>


    </div>

  </div>


  </div>

</section>
