/*font-family: 'Roboto', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Metrophobic', sans-serif;*/

h2 {
  font-family: 'Metrophobic', sans-serif;
}

h1 {
  padding-left: 15px;
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D1D1D;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /*color: white;*/
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
}

.bargain-section {
  background-color: #dedede;
}

/*//////Hero section//////*/

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  position: relative;
  background: -webkit-radial-gradient(#262626, #000000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#262626, #000000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#262626, #000000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#262626, #000000); /* Standard syntax */
}

.landing-view {
  width: 750px;
  margin-top: -150px;
}

.logo {
  width: 50%;
  height: 150px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.benefit_logo {
  height: 50px;
  margin-bottom: 25px;
}

.benefit_logo img {
  height: 100%;
  opacity: 0.3;
}

#benefit_logo2 {
  margin-top: 8px;
  height: 70%;
}

.search-bar {
  width: 100%;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.search-bar input {
  height: 50px;
  width: 60%;
  border-top-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border: 0px;
  margin: 0;
  background-color: #2f2f2f;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

input:focus {
  outline : none;
}

.search-bar button {
  height: 50px;
  background-color: #c70202;
  border: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
  color: white;
  margin-left: -5px;
  padding-left: 35px;
  padding-right: 35px;
}

/*///Results search-bar section///*/

.results-search-bar {
  text-align: center;
  padding-bottom: 50px;
}

.results-search-bar input {
  height: 50px;
  width: 30%;
  border-top-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.results-search-bar button {
  height: 50px;
  background-color: #c70202;
  border: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
  color: white;
  margin-left: -5px;
  padding-left: 35px;
  padding-right: 35px;
}

.results-page-logo{
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

.results-page-logo img {
  width: 50px;
}

/*//////Benefits section//////*/

.product-offers {
  /*height: 40%;*/
}

.benefits_holder {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.benefits {
  width: 700px;
  /*margin-bottom: 50px;*/
  /*height: 100px;*/
  color: rgb(77, 75, 75);
  text-align: center;
  margin: 0 auto;
  font-size: 0.9em;
  font-weight: bold;
}

.benefit_container {
  width: 31%;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}

/*//////Bargains section//////*/

.bargains {
  display: flex;
  flex-wrap: wrap;
  overflow: none;
}

.bargains h2 {
  width: 100%;
}

#home-text {
  text-align: center;
  padding: 30px 0px 20px 0px;
  margin: 0px;
  font-size: 3.0em;
  font-family: 'Pacifico', cursive;
  background-color: #dedede;
  color: #c70202;
  /*background: -webkit-radial-gradient(#615e5e, #333333); /* Safari 5.1 to 6.0 */*/
  /*background: -o-radial-gradient(#615e5e, #333333); /* For Opera 11.6 to 12.0 */*/
  /*background: -moz-radial-gradient(#615e5e, #333333); /* For Firefox 3.6 to 15 */*/
  /*background: radial-gradient(#615e5e, #333333); /* Standard syntax */*/
}

.bargain {
  border-bottom-color: rgb(225, 225, 225);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source:none;
  border-image-width: 1;
  border-left-color: rgb(225, 225, 225);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(225, 225, 225);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(225, 225, 225);
  border-top-style: solid;
  border-top-width: 1px;
  cursor: auto;
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 40px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
  vertical-align: baseline;
  width: 50%;
  -webkit-font-smoothing: antialiased;
}

.bargain h2 {
  margin-top: 0;
  line-height: 1.2em;
  font-size: 1.2em;
  color: #c70202;
}

.bargain p {
  font-size: 1em;
  word-wrap: break-word;
}

.bargain:hover .bargain_content{
  color: #235789;
  cursor: pointer;
}

.bargain_content {
  color: black;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.bargain-image_holder {
  text-align: left;
  width: 45%;
  display: inline-block;
  vertical-align: top;
  height: 100%;

}

.bargain-image_holder img {
  max-width:100%;
  max-height:100%;
}
/*max width max height holds all image in proportion*/

/*///footer///*/

footer .container {
  width: 100%;
  background-color: black;
  margin-left: 0;
  color: white;
}

.footer-stuff {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-stuff p {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}
